@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<div>
    <b>About Page.</b>
    <a asp-controller="Home" asp-action="Privacy">Privacy Page</a>|
    <a asp-controller="Home" asp-action="CAll">CAll Page</a>|
    <a asp-controller="Booking" asp-action="Index">Booking Page</a>|
    <a asp-controller="Booking" asp-action="OrderBook">Order Books</a>
</div>