@{
    ViewData["Title"] = "HelloWorld";
}

<h1>@ViewData["Title"]</h1>

<div>
    <b>Hello World Page.</b>
    <a asp-controller="Home" asp-action="Privacy">Privacy Page</a>
    <a asp-controller="Home" asp-action="Privacy">Privacy Page</a>
    <a class="text-dadk" asp-controller="Home" asp-action="CAll">CAll Page</a>
</div>